/*MOBILE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
	font-size: 16px;
	background-color: #f58200;
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	width: 100%;
	overflow-x: hidden;
}

.hero-section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	padding:60px 20px;
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('image.jpg');
	background-size: cover;
	background-position: center;
	line-height: 2.0;
}
.hero-content{
	text-align: center;
	color: #d1d1d1;

}
.hero-content p.description {
    margin-bottom: 20px;

}
.hero-content .sub-description{
	margin-bottom: 80px;
}
h1 {
    font-size: 2.5rem;
    margin-top: 100px;

}
.buton{
	background-color: #f58200;
	color: white;
	border: none;
	padding: 15px 40px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	
}

.logo img, .menu img{
    width: 50px;       
    height: auto;      
    display: block;
}
.top-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    
}
.top-bar-desktop{
	display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.info {
    flex-grow: 1;
}
.info p {
    margin: 0;
    font-size: 0.8rem; 
    font-weight: 100;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.2;
    
}
.rules-section p, .calendar p{
	text-align: left;
	padding: 10px 20px;
}
.rules-section h2, .calendar h2{
	text-align: center;
	margin-top: 40px;
}
.calendar{
	margin-bottom: 100px;
}
.separator{
	border:none;
	height: 1px;
	background-color: white;
	width: 50%;
	margin: 40px auto;
	opacity: 0.6;
}

.main-footer{
	background-color: #050a18; 
    padding: 10px 10px;
    text-align: center;
}
footer p{
	color: #4a908f;
    font-size: 0.85rem;
    margin-bottom: 20px;
    font-family: serif;
}
footer img{
	max-width: 280px;
    height: auto;
}

.nav-links {
    display: none; 
}

.hamburger {
    width: 30px;
    display: block;
}
@media (min-width: 992px) {
    .hamburger {
        display: none; 
    }

    .nav-links {
        display: flex; 
        list-style: none;
        align-items: center;
        gap: 30px; 
    }

    .nav-links a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        font-size: 0.9rem;
        transition: color 0.3s;
    }

    .fb-icon img {
        width: 30px;
        background-color: #3b5998;
        padding: 5px;
        border-radius: 4px;
    }
    .nav-links li a.home {
    color: #3b5998;
	}

	.top-bar {
        padding: 10px 10%;
        align-items: left;

    }

    .logo {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .hero-section {
        height: 700px; 
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('image.jpg') no-repeat right center / cover;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
    }

    .hero-content {
        text-align: left; 
        max-width: 550px; 
    }

    .hero-content h1 {
        font-size: 4rem; 
        margin-top: 0;
    }

    .hero-content .sub-description {
        margin-bottom: 40px; 
    }
    
    .rules-section h2{
    	text-align: left;
    	margin-left: 170px;
    }
    .rules-section p {
    	width: 100%;
    	max-width: 550px;
    	margin-left: 150px;
    }
    .separator {
        width: 50%;
    }
    .calendar {
    	display: flex;
   	 	flex-direction: column;
   	 	align-items: center; 
    	text-align: left;    
	}

	.calendar p {
    	width: 100%;
    	max-width: 450px; 
	}
    .main-footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px 10%;
        background-color: #050a18;
    }

    footer p {
        margin-bottom: 0;
        text-align: left;
    }

    footer img {
        max-width: 200px;
    }
    
    .top-bar-desktop{
    	display: flex;
    	align-items: center;
    	gap: 20px;
    }
    .info p{
    	text-align: left;
    	margin-bottom:0;
    }
    
}